.prev-next-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;

  button {
    font-size: 1.1rem;
    font-weight: $text-semi-bold;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;

    svg {
      font-size: 2rem;
    }

    &:disabled {
      color: $checkbox-grey-color;
      cursor: not-allowed;
    }
  }

  .prev-btn {
    color: $main-blue-color;

    @media screen and (min-width: 1900px) {
      font-size: 1.8rem;

      svg {
        font-size: 2.3rem;
      }
    }
  }

  .next-btn {
    justify-content: space-between;
    color: white;
    background-color: rgba(36, 84, 156, 0.7);
    border-radius: 1.875rem;
    min-width: 11.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;

    .next-btn-icon-container {
      background-color: $main-blue-color;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media screen and (min-width: 1900px) {
      min-width: 18rem;
      padding: 1rem 1rem 1rem 2rem;
      border-radius: 3.5rem;
      font-size: 1.8rem;

      .next-btn-icon-container {
        width: 4rem;
        height: 4rem;
        svg {
          font-size: 2.3rem;
        }
      }
    }
  }
  .next-btn-disabled {
    justify-content: space-between;
    color: $text-input-label-color;
    background-color: $sidebar-background-blue-color;
    border-radius: 1.875rem;
    min-width: 11.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    cursor: not-allowed;

    .next-btn-icon-container {
      background-color: #ebf0f7;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media screen and (min-width: 1900px) {
      min-width: 18rem;
      padding: 1rem 1rem 1rem 2rem;
      border-radius: 3.5rem;
      font-size: 1.8rem;

      .next-btn-icon-container {
        width: 4rem;
        height: 4rem;
        svg {
          font-size: 2.3rem;
        }
      }
    }
  }
}
