.questions-li {
  margin-top: 5rem;
  position: relative;

  .not-responded-icon {
    position: absolute;
    color: $warn-red;
    font-size: 2.2rem;
    top: -0.2rem;
    left: -2.5rem;

    @media screen and (min-width: 1900px) {
      left: -3.5rem;
      font-size: 2.8rem;
    }
  }

  .questions-title {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    color: $main-blue-color;
    font-size: 1.8rem;

    @media screen and (min-width: 1900px) {
      font-size: 2.2rem;
    }
  }
  .questions-title-not-responded {
    color: $warn-red;
  }

  .answers-ul {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1900px) {
      row-gap: 1rem;
    }
  }
}
// for after 19 question - additional question
.questions-li-additional-question {
  margin-top: 3rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  position: relative;

  @media screen and (min-width: 1900px) {
    margin-top: 4rem;
  }

  .additional-question-not-responded-icon {
    position: absolute;
    color: $warn-red;
    font-size: 2.2rem;
    left: -3.5rem;

    @media screen and (min-width: 1900px) {
      left: -3.5rem;
      font-size: 2.5rem;
    }
  }

  .questions-title-additional-question {
    color: $main-blue-color;
    font-size: 1.6rem;

    @media screen and (min-width: 1900px) {
      font-size: 2rem;
    }
  }
  .questions-title-additional-question-not-responded {
    color: $warn-red;
    font-size: 1.6rem;

    @media screen and (min-width: 1900px) {
      font-size: 2rem;
    }
  }

  .answers-ul-additional-question {
    display: flex;
    margin-left: 2rem;
    column-gap: 2rem;

    li {
      margin-top: -1.2rem;
    }
  }
}
