.questions-li {
  margin-top: 5rem;

  .questions-title {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    color: $main-blue-color;
  }

  .answers-ul {
    display: flex;
    flex-direction: column;
  }
}
// for after 19 question - additional question
.questions-li-additional-question {
  margin-top: 3rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;

  .questions-title-additional-question {
    color: $main-blue-color;
    font-size: 1.3rem;
  }

  .answers-ul-additional-question {
    display: flex;
    margin-left: 2rem;
    column-gap: 2rem;

    li {
      margin-top: -1.2rem;
    }
  }
}
