.send-excel-file-btn {
  background-color: $main-blue-color;
  color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-weight: $text-semi-bold;
  cursor: pointer;

  @media screen and (min-width: 1900px) {
    font-size: 1.1rem;
  }
}
