// colors
$main-blue-color: #24549c;
$sub-blue-color: #0f6fde;
$sidebar-background-blue-color: #f7f8fc;
$sidebar-checked-blue-color: #e2e8f2;

$text-grey-color: #6e6e6e;
$text-dark-grey-color: #5b5e62;
$text-sidebar-grey-color: #778799;

$checkbox-grey-color: #c0c1c2;
$progressbar-grey-color: #e3e3e5;

// text style
$text-medium: 500;
$text-semi-bold: 600;
$text-bold: 700;
