.answer-li {
  position: relative;

  > input[type='radio'] {
    position: relative;
    visibility: hidden;
  }

  > label {
    display: block;
    position: relative;
    font-size: 1.2rem;
    line-height: 170%;
    padding-left: 4.5rem;
    min-height: 2rem;
    z-index: 2;
    cursor: pointer;

    .radio-button {
      position: absolute;
      border: max(3px, 0.1em) solid $checkbox-grey-color;
      border-radius: 100%;
      width: 1.7rem;
      height: 1.7rem;
      top: 0.17rem;
      left: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: border 0.25s linear;

      .radio-button-checked-circle {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 100%;
      }

      @media screen and (min-width: 1900px) {
        width: 2rem;
        height: 2rem;
        top: 0.2rem;
        left: 1.25rem;

        .radio-button-checked-circle {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    // for survey-06-NMS additional explain text
    .answer-text {
      display: flex;
      font-size: 1.5rem;

      @media screen and (min-width: 1900px) {
        font-size: 1.8rem;
      }

      .answer-explain-text {
        margin-left: 0.5rem;
        font-size: 1.4rem;
        color: $text-grey-color;

        @media screen and (max-width: $tablet-max-width) {
          font-size: 1.3rem;
          margin-left: 1.2rem;
        }
      }

      @media screen and (max-width: $tablet-max-width) {
        flex-direction: column;
        gap: 0.1rem;
      }
    }
  }

  > input[type='radio']:checked ~ label {
    color: $main-blue-color;
    font-weight: $text-semi-bold;
    transition: 0.25s;

    .radio-button {
      border: max(4px, 0.1em) solid $main-blue-color;

      .radio-button-checked-circle {
        background: $main-blue-color;
        transition: 0.25s;
      }
    }

    // for survey-06-NMS additional explain text
    .answer-explain-text {
      color: $main-skyblue-color;
    }
  }

  &:hover {
    transition: 0.25s;
    color: $main-skyblue-color;
    .radio-button {
      border: max(4px, 0.1em) solid $main-skyblue-color;
    }

    // for survey-06-NMS additional explain text
    > label {
      .answer-explain-text {
        color: $main-skyblue-color;
      }
    }
  }
}
