aside {
  height: calc(100vh - 73px);
  width: 260px;
  background-color: $sidebar-background-blue-color;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;

  // TEST CODE
  // border: 3px solid green;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    :first-child {
      margin-bottom: 20px;
      cursor: default;
    }

    li {
      font-size: 0.8rem;
      font-weight: $text-semi-bold;
      color: $text-sidebar-grey-color;
      padding: 10px 5px 10px 30px;
      border-radius: 5px;
      cursor: pointer;

      &:not(:first-child, .checked) {
        &:hover {
          background-color: #eff2f8;
        }
      }
      // border: 1px solid lightcoral;
    }

    .checked {
      background-color: $sidebar-checked-blue-color;
      color: $main-blue-color;
      font-weight: $text-bold;
    }
  }
}
