.survey-content-container {
  margin-top: 5rem;

  > hr {
    border: 1px solid $main-blue-color;
  }
}

.question-container {
  padding-top: 1rem;
}

.answer-container {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .medicine-text {
    color: $main-blue-color;
    padding-top: 1.2rem;
  }
}

.answer-li {
  position: relative;

  > input[type='radio'] {
    position: relative;
    visibility: hidden;
  }

  .radio-button {
    position: absolute;
    border: max(3px, 0.1em) solid $checkbox-grey-color;
    border-radius: 100%;
    width: 1.7rem;
    height: 1.7rem;
    top: 1.79rem;
    left: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.25s linear;

    .radio-button-checked-circle {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 100%;
    }
  }

  > label {
    display: block;
    position: relative;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem 1rem 4.5rem;
    height: 2rem;
    z-index: 2;
    cursor: pointer;
  }

  > input[type='radio']:checked ~ .radio-button {
    border: max(4px, 0.1em) solid $main-blue-color;

    .radio-button-checked-circle {
      background: $main-blue-color;
      transition: 0.25s;
    }
  }

  > input[type='radio']:checked ~ label {
    color: $main-blue-color;
    font-weight: $text-semi-bold;
    transition: 0.25s;
  }

  &:hover {
    transition: 0.25s;
    color: $main-skyblue-color;
    .radio-button {
      border: max(4px, 0.1em) solid $main-skyblue-color;
    }
  }
}
