.survey-content-container {
  margin-top: 1rem;
  width: 100%;

  table {
    width: 100%;

    .answers-table-row {
      white-space: pre;
      line-height: 120%;
      color: #707070;
      text-align: center;

      .answers-table-header-text {
        width: 6.25rem;
        padding: 0 1rem 1rem 1rem;
      }
    }

    .questions-table-row {
      color: $text-dark-grey-color;

      &:nth-child(odd) {
        background-color: $table-background-grey-color;
      }

      // for border-radius
      td:first-child,
      th:first-child {
        border-radius: 0.625rem 0 0 0.625rem;
      }
      td:last-child,
      th:last-child {
        border-radius: 0 0.625rem 0.625rem 0;
      }

      .questions-table-header-text {
        font-size: 1.15rem;
        line-height: 160%;
        text-align: left;
        padding: 2rem 1.5rem;
        min-width: 29.375rem;
      }

      .question-td-radio-button-container {
        position: relative;

        input[type='radio'] {
          position: relative;
          visibility: hidden;
        }

        > label {
          position: absolute;
          right: 50%;
          top: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 2;
          cursor: pointer;

          .radio-button {
            position: absolute;
            // for no gradation
            // border: max(3px, 0.1em) solid $checkbox-grey-color;
            border-radius: 100%;
            width: 2.4rem;
            height: 2.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: border 0.25s linear;

            .radio-button-checked-circle {
              width: 1.22rem;
              height: 1.22rem;
              border-radius: 100%;
            }
          }
        }

        > input[type='radio']:checked ~ label {
          transition: 0.25s;

          .radio-button {
            // for no gradation
            //  border: max(4px, 0.1em) solid $main-blue-color;

            .radio-button-checked-circle {
              // for no gradation
              // background: $main-blue-color;
              transition: 0.25s;
            }
          }
        }

        &:hover {
          .radio-button {
            transition: 0.25s;
          }
        }
      }

      // for checkbox gradation
      td:nth-child(2) {
        .radio-button {
          border: max(3px, 0.1em) solid $checkbox-gradation-9-color;
          &:hover {
            border: max(4px, 0.1em) solid $checkbox-gradation-9-color;
          }
        }

        > input[type='radio']:checked ~ label {
          .radio-button {
            border: max(4px, 0.1em) solid $checkbox-gradation-9-color;
            .radio-button-checked-circle {
              background: $checkbox-gradation-9-color;
            }
          }
        }
      }
      td:nth-child(3) {
        .radio-button {
          border: max(3px, 0.1em) solid $checkbox-gradation-6-color;
          &:hover {
            border: max(4px, 0.1em) solid $checkbox-gradation-6-color;
          }
        }

        > input[type='radio']:checked ~ label {
          .radio-button {
            border: max(4px, 0.1em) solid $checkbox-gradation-6-color;
            .radio-button-checked-circle {
              background: $checkbox-gradation-6-color;
            }
          }
        }
      }
      td:nth-child(4) {
        .radio-button {
          border: max(3px, 0.1em) solid $checkbox-gradation-4-color;
          &:hover {
            border: max(4px, 0.1em) solid $checkbox-gradation-4-color;
          }
        }

        > input[type='radio']:checked ~ label {
          .radio-button {
            border: max(4px, 0.1em) solid $checkbox-gradation-4-color;
            .radio-button-checked-circle {
              background: $checkbox-gradation-4-color;
            }
          }
        }
      }
      td:nth-child(5) {
        .radio-button {
          border: max(3px, 0.1em) solid $checkbox-gradation-2-color;
          &:hover {
            border: max(4px, 0.1em) solid $checkbox-gradation-2-color;
          }
        }

        > input[type='radio']:checked ~ label {
          .radio-button {
            border: max(4px, 0.1em) solid $checkbox-gradation-2-color;
            .radio-button-checked-circle {
              background: $checkbox-gradation-2-color;
            }
          }
        }
      }
      td:nth-child(6) {
        .radio-button {
          border: max(3px, 0.1em) solid $checkbox-gradation-1-color;
          &:hover {
            border: max(4px, 0.1em) solid $checkbox-gradation-1-color;
          }
        }

        > input[type='radio']:checked ~ label {
          .radio-button {
            border: max(4px, 0.1em) solid $checkbox-gradation-1-color;
            .radio-button-checked-circle {
              background: $checkbox-gradation-1-color;
            }
          }
        }
      }
    }

    // for additional question
    .additional-question {
      margin-top: 1rem;
      font-size: 0.9rem;
      display: flex;
      column-gap: 0.2rem;
      cursor: pointer;

      .additional-question-input {
        margin-top: 0.4rem;
        width: 1rem;
        height: 1rem;
        accent-color: $main-blue-color;
      }
    }
  }
}
