.modal {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  background-color: white;
  padding: 3rem 5rem;
  padding-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

  .top-icon-wrapper {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    .top-icon {
      font-size: 5rem;
      color: $main-blue-color;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    .title-text {
      font-size: 1.8rem;
    }
    .explain-text {
      font-size: 1.4rem;
      line-height: 155%;
      color: $text-light-grey-color;
      text-align: center;
    }
  }

  .send-mail-btn {
    margin-top: 0.5rem;
    width: 100%;
    border-radius: 1.25rem;
    padding: 1.5rem 0;
    background-color: $main-blue-color;

    font-size: 1.5rem;
    color: white;
    font-weight: $text-semi-bold;
    cursor: pointer;

    &:hover {
      transition: 0.5s;
      background-color: $point-green-color;
    }
  }

  .send-error-btn {
    margin-top: -1rem;
    color: $main-blue-color;
    cursor: pointer;
  }
}
