.modal {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);

  .modal-content {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    line-height: 175%;

    .btn-container {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;

      .download-mail-btn {
        color: $main-blue-color;
        font-weight: $text-semi-bold;
        font-size: 1.1rem;
        cursor: pointer;
      }

      .send-mail-btn {
        color: white;
        border-radius: 0.5rem;
        padding: 0.8rem 0;
        font-weight: $text-semi-bold;
        background-color: $main-blue-color;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
  }
}
