.aside {
  position: fixed;
  height: calc(100vh - 4.563rem);
  max-width: 16.25rem;
  min-width: 16.25rem;
  background-color: $sidebar-background-blue-color;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.25rem;
  margin-top: 4.563rem; // header height size

  @media screen and (min-width: 1900px) {
    max-width: 19rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    :first-child {
      margin-bottom: 1.25rem;
      cursor: default;
    }

    li {
      font-size: 0.8rem;
      font-weight: $text-semi-bold;
      color: $text-sidebar-grey-color;
      padding: 0.625rem 0.313rem 0.625rem 1.875rem;
      border-radius: 0.313rem;
      cursor: pointer;

      @media screen and (min-width: 1900px) {
        font-size: 1rem;
      }

      &:not(:first-child, .checked) {
        &:hover {
          background-color: #eff2f8;
        }
      }

      // for survey 10 - "파킨슨병 자율신경계 증상 자가평가척도"
      &:nth-child(12) {
        line-height: 160%;
        padding-right: 1.8rem;
      }
    }

    .checked {
      background-color: $sidebar-checked-blue-color;
      color: $main-blue-color;
      font-weight: $text-bold;
    }
  }
}
