.modal-content {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 3rem 6rem;
  border-radius: 1rem;
  position: relative;

  .modal-top-blue-icon-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 6rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: $text-warn-red-color;

    display: flex;
    align-items: center;
    justify-content: center;

    .top-alert-icon {
      color: white;
      font-size: 3.5rem;
    }
  }

  .modal-text {
    margin-top: 6.5rem;
    font-size: 1.7rem;
    line-height: 175%;
    text-align: center;
    font-weight: $text-semi-bold;
  }

  .close-btn {
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 3rem;
    background-color: $progressbar-grey-color;
    font-weight: $text-bold;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
