.survey-container {
  width: calc(100vw - 16.25rem);
  padding: 6rem 8.5rem;
}

.survey-content-wrapper {
  margin-top: 5.5rem;
}

.hr {
  border: 1.5px solid $main-blue-color;
}
.hr-not-responded {
  border: 1.5px solid $warn-red;
}

.explain {
  color: $text-grey-color;
  line-height: 175%;
  font-size: 1.75rem;
  padding: 0.7rem 0;

  .explain-emphasize {
    color: $main-blue-color;
    text-decoration: underline;
    text-underline-position: under;
    font-weight: $text-semi-bold;
  }
}
