// colors
$main-blue-color: #24549c;
$sub-blue-color: #0f6fde;
$main-skyblue-color: #3987b0;
$sub-skyblue-color: #24baef;
$point-green-color: #87c137;

$sidebar-background-blue-color: #f7f8fc;
$sidebar-checked-blue-color: #e2e8f2;

$text-light-grey-color: #7f8299;
$text-grey-color: #6e6e6e;
$text-dark-grey-color: #5b5e62;
$text-sidebar-grey-color: #778799;
$text-input-label-color: #afafaf;
$text-input-label-dark-grey-color: #647485;
$text-thead-table-row-grey-color: #707070;

$checkbox-gradation-0-color: #000000;
$checkbox-gradation-1-color: #474e52;
$checkbox-gradation-2-color: #55666d;
$checkbox-gradation-3-color: #577b8b;
$checkbox-gradation-4-color: #5b9cba;
$checkbox-gradation-5-color: #3fbcf5;
$checkbox-gradation-6-color: #0fabf3;
$checkbox-gradation-7-color: #069cf5;
$checkbox-gradation-8-color: #008df7;
$checkbox-gradation-9-color: #0684fb;
$checkbox-gradation-10-color: #0072fd;

$checkbox-grey-color: #c0c1c2;
$progressbar-grey-color: #e3e3e5;
$table-background-grey-color: #f0f0f0;

// text style
$text-medium: 500;
$text-semi-bold: 600;
$text-bold: 700;
