// colors
$main-blue-color: #24549c;
$sub-blue-color: #0f6fde;
$main-skyblue-color: #3987b0;
$sub-skyblue-color: #24baef;
$point-green-color: #87c137;
$warn-red: #ef5350a9;
$text-warn-red-color: #ef5350e5;

$sidebar-background-blue-color: #f7f8fc;
$sidebar-checked-blue-color: #e2e8f2;

$text-light-grey-color: #7f8299;
$text-grey-color: #6e6e6e;
$text-dark-grey-color: #5b5e62;
$text-sidebar-grey-color: #778799;
$text-input-label-color: #afafaf;
$text-input-label-dark-grey-color: #647485;
$text-thead-table-row-grey-color: #707070;

$checkbox-gradation-0-color: #9f0101;
$checkbox-gradation-1-color: #c43129;
$checkbox-gradation-2-color: #e84333;
$checkbox-gradation-3-color: #e1634f;
$checkbox-gradation-4-color: #e29d8a;
$checkbox-gradation-5-color: #d9d9d9;
$checkbox-gradation-6-color: #95cee8;
$checkbox-gradation-7-color: #44b6e9;
$checkbox-gradation-8-color: #009eea;
$checkbox-gradation-9-color: #0079bc;
$checkbox-gradation-10-color: $sub-blue-color;
// for survey-03-BAI, 07-PDQ, 09-TIRED
$checkbox-gradation-1-blue-color: #0b4cf5;
$checkbox-gradation-2-blue-color: #0684fb;
$checkbox-gradation-2-5-blue-color: #069cf5; // for 5 degree survey
$checkbox-gradation-3-blue-color: #42a5f5;
$checkbox-gradation-4-blue-color: #90caf8;

$checkbox-grey-color: #c0c1c2;
$progressbar-grey-color: #e3e3e5;
$table-background-grey-color: #f0f0f0;

// text style
$text-medium: 500;
$text-semi-light-bold: 540;
$text-semi-bold: 600;
$text-bold: 700;
