.snackbar {
  visibility: hidden;
  position: fixed;
  display: flex;
  z-index: 999;
  right: 2%;
  bottom: 2rem;
  min-width: 16rem;
  border-radius: 6px;
  padding: 1.25rem;
  padding-right: 1.5rem;
  font-size: 1.1rem;

  .icon-wrapper {
    font-size: 1.438rem;
    svg {
      font-size: inherit;
      margin-right: 0.8rem;
    }
  }
  .text-row-1 {
    margin-top: 0.1rem;
    font-weight: $text-semi-bold;
  }

  .text-row-2 {
    margin-top: 0.7rem;
    font-weight: $text-medium;
  }
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 1.875rem;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 1.875rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.type-exclamation {
  color: white;
  background-color: $warn-red;
}
.type-check {
  background-color: #5e5e5e;
}

.snackbar-show {
  visibility: visible;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}
