.gender-section-checkbox-container {
  display: flex;
  justify-content: space-between;
  column-gap: 1.2rem;

  > .gender-section-checkbox {
    width: 100%;

    input[type='radio'] {
      position: relative;
      visibility: hidden;
    }

    label {
      margin-top: -1.2rem;
      width: 100%;
      height: 4.5rem;
      display: flex;
      align-items: center;
      position: relative;
      font-size: 1.2rem;
      padding-left: 4.5rem;
      z-index: 2;
      border: 0.188rem solid $progressbar-grey-color;
      border-radius: 0.625rem;
      cursor: pointer;

      .radio-button {
        position: absolute;
        border: max(3px, 0.1em) solid $checkbox-grey-color;
        border-radius: 100%;
        width: 1.7rem;
        height: 1.7rem;
        top: 1.3rem;
        left: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border 0.25s linear;

        .radio-button-checked-circle {
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 100%;
        }
      }
    }

    > input[type='radio']:checked ~ label {
      color: $main-blue-color;
      font-weight: $text-semi-bold;
      transition: 0.25s;
      border: 0.2rem solid $main-blue-color;
      background-color: $sidebar-background-blue-color;

      .radio-button {
        border: max(4px, 0.1em) solid $main-blue-color;

        .radio-button-checked-circle {
          background: $main-blue-color;
          transition: 0.25s;
        }
      }
    }

    &:hover {
      transition: 0.25s;
      color: $main-skyblue-color;
      label {
        transition: 0.3s;
        border: 0.2rem solid $main-skyblue-color;
      }
      .radio-button {
        border: max(4px, 0.1em) solid $main-skyblue-color;
      }
    }
  }
}
