main {
  display: flex;
  overflow-x: hidden;
}

.section {
  margin-top: 4.563rem; // header height size
}

.survey-page {
  margin-left: 16.25rem; // sidebar width size

  @media screen and (min-width: 1900px) {
    margin-left: 19rem;
  }
}
