.questions-li {
  width: 100%;
  margin-top: 5rem;

  .questions-title {
    padding: 0.5rem 0 0.2rem 0.7rem;
    font-size: 1.3rem;
    line-height: 170%;
    // TEST CODE: question-title-explain parallel display
    // display: flex;

    .question-title-explain {
      font-size: 1.2rem;
      padding-left: 1.2rem;
      color: $text-grey-color;
    }
  }

  .answers-ul {
    margin-top: 2rem;
    display: flex;
    column-gap: 3.5rem;
    row-gap: 0.5rem;
    padding-left: 1.5rem;
    flex-wrap: wrap;
  }

  // for explain text box
  .explain-section {
    margin-top: 9rem;
    margin-bottom: 1rem;
    background-color: $sidebar-background-blue-color;
    border-radius: 0.625rem;

    display: flex;
    column-gap: 0.5rem;
    padding: 1rem 1.5rem;

    color: $main-blue-color;
    font-size: 1.1rem;
    line-height: 175%;

    .explain-emphasize {
      text-decoration: underline;
      text-underline-position: under;
      font-weight: $text-semi-bold;
    }
  }

  // for image select answer component
  .img-answers-ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13.125rem, 1fr));
    grid-auto-rows: min-content;
    gap: 2.5rem;

    .img-answer-li {
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        img {
          object-fit: cover;
          width: 10rem;
          height: 5.5rem;
        }
        figcaption {
          text-align: center;
          line-height: 135%;
          white-space: pre;
        }
      }

      // for radio button custom css
      label {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0.5rem 0 1.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: 0.125rem solid $checkbox-grey-color;
        border-radius: 0.625rem;
        z-index: 2;
        cursor: pointer;

        .radio-button {
          position: absolute;
          border: max(3px, 0.1em) solid $checkbox-grey-color;
          border-radius: 100%;
          width: 1.7rem;
          height: 1.7rem;
          top: 13rem;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: border 0.25s linear;

          .radio-button-checked-circle {
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 100%;
          }
        }
      }

      input[type='radio'] {
        position: relative;
        visibility: hidden;
      }

      > input[type='radio']:checked ~ label {
        color: $main-blue-color;
        font-weight: $text-semi-bold;
        transition: 0.25s;
        outline: 0.2rem solid $main-blue-color;
        background-color: $sidebar-background-blue-color;

        .radio-button {
          border: max(4px, 0.1em) solid $main-blue-color;

          .radio-button-checked-circle {
            background: $main-blue-color;
            transition: 0.25s;
          }
        }
      }

      &:hover {
        transition: 0.25s;
        color: $main-skyblue-color;
        label {
          transition: 0.25s;
          outline: 0.125rem solid $main-skyblue-color;
        }
        .radio-button {
          border: max(3px, 0.1em) solid $main-skyblue-color;
        }
      }
    }
  }
}
