.survey-content-container {
  margin-top: 5rem;
  position: relative;

  @media screen and (min-width: 1900px) {
    margin-top: 8rem;
  }

  .question-title-section {
    .questionnaire-top-blue-hr {
      border: 1.5px solid $main-blue-color;
    }
    .not-responded-top-red-hr {
      border: 1.5px solid $warn-red;
    }

    .question-text {
      font-size: 1.8rem;
      padding-top: 0.5rem;
      line-height: 170%;

      .medicine-effect-text {
        color: $main-blue-color;
      }

      @media screen and (min-width: 1900px) {
        font-size: 2.2rem;
      }
    }
    .not-responded-question-text {
      color: $text-warn-red-color;
      margin-right: 4rem;
    }

    .not-responded-icon {
      position: absolute;
      top: 1.5rem;
      right: 0.5rem;
      color: $warn-red;
      font-size: 2.5rem;
    }
  }

  .answer-container {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.4rem;

    @media screen and (min-width: 1900px) {
      font-size: 1.7rem;
    }

    .medicine-text {
      color: $main-blue-color;
      padding-top: 1.2rem;

      .medicine-text-emphasize {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
    .not-responded-medicine-text {
      color: $warn-red;
    }

    .answer-ul {
      padding-top: 0.2rem;
      @media screen and (min-width: 1900px) {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }
    }
  }
}
