.survey-content-container {
  margin-top: 3rem;

  @media screen and (min-width: 1900px) {
    margin-top: 5rem;
  }

  .question-text-section {
    position: relative;

    .question-h3 {
      font-size: 1.7rem;
      line-height: 170%;

      @media screen and (min-width: 1900px) {
        font-size: 2rem;
      }
    }
    .not-responded-question-h3 {
      color: $text-warn-red-color;
    }

    .not-responded-icon {
      position: absolute;
      left: -3.2rem;
      top: 0.25rem;
      color: $warn-red;
      font-size: 2.3rem;

      @media screen and (min-width: 1900px) {
        left: -4rem;
        font-size: 2.8rem;
      }
    }
  }

  .degrees-container-ul {
    margin-top: 3rem;
    display: flex;
    column-gap: 1px;
    @media screen and (min-width: 1900px) {
      column-gap: 2px;
    }

    .degree-container-li {
      width: 100%;
      .degree-li-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;
        position: relative;
        width: 100%;

        .degree-number {
          font-weight: $text-bold;

          @media screen and (min-width: 1900px) {
            font-size: 1.5rem;
          }
        }

        input[type='radio'] {
          appearance: none;
          width: 100%;
          padding-bottom: 100%;
          cursor: pointer;
          margin: 0;

          @media screen and (min-width: 1900px) {
            height: 5rem;
          }
        }

        // for check icon
        .check-icon {
          position: absolute;
          font-size: 3.5rem;
          color: white;
          top: 38%;
          @media screen and (min-width: 1900px) {
            top: 42%;
            font-size: 4rem;
          }
          @media screen and (max-width: $tablet-max-width) {
            font-size: 3rem;
          }
          @media screen and (max-width: $tablet-medium-width) {
            top: 40%;
            font-size: 2.5rem;
          }
        }
      }

      // for gradation color
      &:nth-child(1) {
        position: relative;
        input {
          border-radius: 1rem 0 0 1rem;
          background-color: $checkbox-gradation-0-color;
        }

        .zero-degree-bottom-text {
          position: absolute;
          min-width: 10rem;
          top: 7rem;
          font-size: 1.5rem;

          @media screen and (min-width: 1340px) {
            transition: 1s;
            top: 8rem;
          }

          @media screen and (min-width: 1500px) {
            transition: 1s;
            top: 9rem;
          }

          @media screen and (min-width: 1900px) {
            min-width: 15rem;
            top: 12rem;
            font-size: 1.8rem;
          }
        }
      }
      &:nth-child(2) {
        input {
          background-color: $checkbox-gradation-1-color;
        }
      }
      &:nth-child(3) {
        input {
          background-color: $checkbox-gradation-2-color;
        }
      }
      &:nth-child(4) {
        input {
          background-color: $checkbox-gradation-3-color;
        }
      }
      &:nth-child(5) {
        input {
          background-color: $checkbox-gradation-4-color;
        }
      }
      &:nth-child(6) {
        position: relative;
        input {
          background-color: $checkbox-gradation-5-color;
        }

        .middle-degree-bottom-text {
          position: absolute;
          min-width: 10rem;
          top: 7rem;
          left: calc(50% - 5rem);
          font-size: 1.5rem;
          text-align: center;

          @media screen and (min-width: 1340px) {
            transition: 1s;
            top: 8rem;
          }

          @media screen and (min-width: 1500px) {
            transition: 1s;
            top: 9rem;
          }

          @media screen and (min-width: 1900px) {
            min-width: 15rem;
            top: 12rem;
            left: calc(50% - 7.5rem);
            font-size: 1.8rem;
          }
        }
      }
      &:nth-child(7) {
        input {
          background-color: $checkbox-gradation-6-color;
        }
      }
      &:nth-child(8) {
        input {
          background-color: $checkbox-gradation-7-color;
        }
      }
      &:nth-child(9) {
        input {
          background-color: $checkbox-gradation-8-color;
        }
      }
      &:nth-child(10) {
        input {
          background-color: $checkbox-gradation-9-color;
        }
      }
      &:nth-child(11) {
        position: relative;
        input {
          border-radius: 0 1rem 1rem 0;
          background-color: $checkbox-gradation-10-color;
        }
        .last-degree-bottom-text {
          position: absolute;
          min-width: 13rem;
          text-align: right;
          top: 7rem;
          right: 0;
          font-size: 1.5rem;

          @media screen and (min-width: 1340px) {
            transition: 1s;
            top: 8rem;
          }

          @media screen and (min-width: 1500px) {
            transition: 1s;
            top: 9rem;
          }

          @media screen and (min-width: 1900px) {
            min-width: 15rem;
            top: 12rem;
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  .bottom-hr {
    margin-top: 6rem;
    height: 0.12rem;
    background-color: #dfe1e6;
    border: none;

    @media screen and (min-width: 1900px) {
      margin-top: 10rem;
    }
  }
}
