.survey-content-container {
  /* section title */
  .section-title {
    color: $main-blue-color;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  /* question */
  .questionnaire-container {
    .questionnaire-top-blue-hr {
      border: none;
      background-color: $main-skyblue-color;
      width: 100%;
      height: 0.18rem;
    }

    .questionnaire-question-and-score-container {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      .questionnaire-question-text {
        padding: 0 0.5rem;
        font-size: 1.3rem;
        line-height: 175%;
      }
      .questionnaire-score-text {
        width: 12rem;
        color: $text-input-label-color;
        display: flex;
        justify-content: right;
        align-items: baseline;
        column-gap: 0.5rem;

        .score-emphasis {
          font-size: 1.8rem;
        }
      }
    }

    .degree-frequency-sections-container {
      margin-top: 1.5rem;
      margin-bottom: 5rem;
      width: 100%;
      display: flex;
      padding: 1rem;
      .degree-frequency-section {
        width: 100%;

        .degree-frequency-section-title {
          color: $main-blue-color;
          padding-left: 1rem;
          margin-bottom: 0.7rem;
        }
        .degree-frequency-hr {
          border: none;
          background-color: $checkbox-grey-color;
          width: 100%;
          height: 0.0625rem;
        }
      }
    }
  }

  /* section score */
  .survey-section-bottom-score {
    margin-bottom: 8rem;
    .survey-section-bottom-grey-hr {
      border: none;
      background-color: $checkbox-grey-color;
      width: 100%;
      height: 0.18rem;
    }
    .survey-section-bottom-score-text {
      margin-top: 1rem;
      width: 100%;
      font-size: 1.1rem;
      font-weight: $text-semi-bold;
      color: $text-grey-color;
      display: flex;
      justify-content: right;
      align-items: baseline;
      column-gap: 0.5rem;
      .score-emphasis {
        font-size: 1.8rem;
      }
    }
  }
}
