.name-input {
  height: 4.5rem;
  border-radius: 0.625rem;
  border: 0.188rem solid $progressbar-grey-color;
  font-size: 1.2rem;
  padding: 0 0.8rem;

  &::placeholder {
    color: $text-input-label-color;
  }

  &:focus {
    border: 0.2rem solid $main-blue-color;
  }

  @media screen and (min-width: 1900px) {
    height: 6rem;
    font-size: 2rem;
  }
}
